useDynLib(mlogitBMA)

import(BMA)
import(abind)
import(maxLik)

importFrom("stats", "coef", "drop1", "formula", "glm", "model.matrix",
             "na.omit", "pnorm", "terms", "terms.formula")

# export functions
export(
	bic.mlogit,
	imageplot.mlogit,
	estimate.mlogit,
	mlogit2logit,
	mnl.spec
)

S3method(plot, bic.mlogit)
S3method(summary, bic.mlogit)
S3method(summary, mnl.spec)
S3method(summary, mnl)
S3method(print, summary.mnl)
S3method(estimate.mlogit, formula)
S3method(estimate.mlogit, mnl.spec)
S3method(estimate.mlogit, bic.mlogit)
S3method(estimate.mlogit, list)


